<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% include 'partials/metadata.html.twig' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if header.robots %}
    <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    <!-- CSS !-->
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/default.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/fontawesome/css/all.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"> !-->
    <!-- FONTS !-->
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet"> !-->
    <!-- FAVICON !-->
    <link href="{{ theme_url }}/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- JS !-->
    <script src="{{ theme_url }}/assets/js/jquery.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/assets/js/main.js" type="text/javascript"></script>
    {% endblock head %}
</head>